In [119]:
import requests
import json
import pandas as pd
import datetime
import calendar

In [168]:
url = 'secret'
api_key = 'secret'
year = 2019
month = 1
startdate = str(datetime.date(year, month, 1).strftime("%Y-%m-%d"))
enddate = str(datetime.date(year, month, calendar.monthlen(year, month)).strftime("%Y-%m-%d"))
print(startdate)
print(enddate)
params = {
    'access_key': api_key,
    'query': 'Dublin',
    'historical_date_start': startdate,
    'historical_date_end': enddate,
    'hourly': 1,
    'interval': 6,
    'units': 'm'
}

2019-01-01
2019-01-31

In [169]:
result = requests.get(url=url, params=params)
result_json = result.json()
df = pd.DataFrame(result_json)

In [170]:
df

,request,location,current,historical
type,City,NaN,NaN,NaN
query,"Dublin, Ireland",NaN,NaN,NaN
language,en,NaN,NaN,NaN
unit,m,NaN,NaN,NaN
name,NaN,Dublin,NaN,NaN
country,NaN,Ireland,NaN,NaN
region,NaN,Dublin,NaN,NaN
lat,NaN,53.333,NaN,NaN
lon,NaN,-6.249,NaN,NaN
timezone_id,NaN,Europe/Dublin,NaN,NaN
localtime,NaN,2020-10-17 14:51,NaN,NaN
localtime_epoch,NaN,1602946260,NaN,NaN
utc_offset,NaN,1.0,NaN,NaN
observation_time,NaN,NaN,01:51 PM,NaN
temperature,NaN,NaN,10,NaN
weather_code,NaN,NaN,116,NaN
weather_icons,NaN,NaN,[https://assets.weatherstack.com/images/wsymbo...,NaN
weather_descriptions,NaN,NaN,[Partly cloudy],NaN
wind_speed,NaN,NaN,22,NaN
wind_degree,NaN,NaN,60,NaN
wind_dir,NaN,NaN,ENE,NaN
pressure,NaN,NaN,1024,NaN
precip,NaN,NaN,0.2,NaN
humidity,NaN,NaN,82,NaN
cloudcover,NaN,NaN,75,NaN
feelslike,NaN,NaN,8,NaN
uv_index,NaN,NaN,3,NaN
visibility,NaN,NaN,10,NaN
is_day,NaN,NaN,yes,NaN
2019-01-01,NaN,NaN,NaN,"{'date': '2019-01-01', 'date_epoch': 154630080..."
2019-01-02,NaN,NaN,NaN,"{'date': '2019-01-02', 'date_epoch': 154638720..."
2019-01-03,NaN,NaN,NaN,"{'date': '2019-01-03', 'date_epoch': 154647360..."
2019-01-04,NaN,NaN,NaN,"{'date': '2019-01-04', 'date_epoch': 154656000..."
2019-01-06,NaN,NaN,NaN,"{'date': '2019-01-06', 'date_epoch': 154673280..."
2019-01-07,NaN,NaN,NaN,"{'date': '2019-01-07', 'date_epoch': 154681920..."
2019-01-08,NaN,NaN,NaN,"{'date': '2019-01-08', 'date_epoch': 154690560..."
2019-01-09,NaN,NaN,NaN,"{'date': '2019-01-09', 'date_epoch': 154699200..."
2019-01-10,NaN,NaN,NaN,"{'date': '2019-01-10', 'date_epoch': 154707840..."
2019-01-11,NaN,NaN,NaN,"{'date': '2019-01-11', 'date_epoch': 154716480..."
2019-01-12,NaN,NaN,NaN,"{'date': '2019-01-12', 'date_epoch': 154725120..."
2019-01-13,NaN,NaN,NaN,"{'date': '2019-01-13', 'date_epoch': 154733760..."
2019-01-14,NaN,NaN,NaN,"{'date': '2019-01-14', 'date_epoch': 154742400..."
2019-01-15,NaN,NaN,NaN,"{'date': '2019-01-15', 'date_epoch': 154751040..."
2019-01-16,NaN,NaN,NaN,"{'date': '2019-01-16', 'date_epoch': 154759680..."
2019-01-17,NaN,NaN,NaN,"{'date': '2019-01-17', 'date_epoch': 154768320..."
2019-01-18,NaN,NaN,NaN,"{'date': '2019-01-18', 'date_epoch': 154776960..."
2019-01-19,NaN,NaN,NaN,"{'date': '2019-01-19', 'date_epoch': 154785600..."
2019-01-20,NaN,NaN,NaN,"{'date': '2019-01-20', 'date_epoch': 154794240..."
2019-01-21,NaN,NaN,NaN,"{'date': '2019-01-21', 'date_epoch': 154802880..."
2019-01-22,NaN,NaN,NaN,"{'date': '2019-01-22', 'date_epoch': 154811520..."
2019-01-24,NaN,NaN,NaN,"{'date': '2019-01-24', 'date_epoch': 154828800..."
2019-01-26,NaN,NaN,NaN,"{'date': '2019-01-26', 'date_epoch': 154846080..."
2019-01-28,NaN,NaN,NaN,"{'date': '2019-01-28', 'date_epoch': 154863360..."
2019-01-29,NaN,NaN,NaN,"{'date': '2019-01-29', 'date_epoch': 154872000..."
2019-01-30,NaN,NaN,NaN,"{'date': '2019-01-30', 'date_epoch': 154880640..."
2019-01-31,NaN,NaN,NaN,"{'date': '2019-01-31', 'date_epoch': 154889280..."

In [171]:
df = df.drop(['type', 'query', 'language', 'unit', 'name', 'country', 
             'region', 'lat', 'lon', 'timezone_id', 'localtime',
             'localtime_epoch', 'utc_offset', 'observation_time',
             'temperature', 'weather_code', 'weather_icons', 
             'weather_descriptions', 'wind_speed', 'wind_degree',
             'wind_dir', 'pressure', 'precip', 'humidity', 'cloudcover',
             'feelslike', 'uv_index', 'visibility', 'is_day'])

df = df.drop(['request', 'location', 'current'], axis=1)

In [172]:
df

                                                   historical
2019-01-01  {'date': '2019-01-01', 'date_epoch': 154630080...
2019-01-02  {'date': '2019-01-02', 'date_epoch': 154638720...
2019-01-03  {'date': '2019-01-03', 'date_epoch': 154647360...
2019-01-04  {'date': '2019-01-04', 'date_epoch': 154656000...
2019-01-06  {'date': '2019-01-06', 'date_epoch': 154673280...
2019-01-07  {'date': '2019-01-07', 'date_epoch': 154681920...
2019-01-08  {'date': '2019-01-08', 'date_epoch': 154690560...
2019-01-09  {'date': '2019-01-09', 'date_epoch': 154699200...
2019-01-10  {'date': '2019-01-10', 'date_epoch': 154707840...
2019-01-11  {'date': '2019-01-11', 'date_epoch': 154716480...
2019-01-12  {'date': '2019-01-12', 'date_epoch': 154725120...
2019-01-13  {'date': '2019-01-13', 'date_epoch': 154733760...
2019-01-14  {'date': '2019-01-14', 'date_epoch': 154742400...
2019-01-15  {'date': '2019-01-15', 'date_epoch': 154751040...
2019-01-16  {'date': '2019-01-16', 'date_epoch': 154759680...
2019-01-17  {'date': '2019-01-17', 'date_epoch': 154768320...
2019-01-18  {'date': '2019-01-18', 'date_epoch': 154776960...
2019-01-19  {'date': '2019-01-19', 'date_epoch': 154785600...
2019-01-20  {'date': '2019-01-20', 'date_epoch': 154794240...
2019-01-21  {'date': '2019-01-21', 'date_epoch': 154802880...
2019-01-22  {'date': '2019-01-22', 'date_epoch': 154811520...
2019-01-24  {'date': '2019-01-24', 'date_epoch': 154828800...
2019-01-26  {'date': '2019-01-26', 'date_epoch': 154846080...
2019-01-28  {'date': '2019-01-28', 'date_epoch': 154863360...
2019-01-29  {'date': '2019-01-29', 'date_epoch': 154872000...
2019-01-30  {'date': '2019-01-30', 'date_epoch': 154880640...
2019-01-31  {'date': '2019-01-31', 'date_epoch': 154889280...

In [173]:
daily = pd.DataFrame([md for md in df.historical])
daily

,date,date_epoch,astro,mintemp,maxtemp,avgtemp,totalsnow,sunhour,uv_index,hourly
0,2019-01-01,1546300800,"{'sunrise': '09:41 AM', 'sunset': '05:17 PM', ...",7,0,0,0,1.9,2,"[{'time': '0', 'temperature': 8, 'wind_speed':..."
1,2019-01-02,1546387200,"{'sunrise': '09:40 AM', 'sunset': '05:18 PM', ...",5,0,0,0,1.9,2,"[{'time': '0', 'temperature': 6, 'wind_speed':..."
2,2019-01-03,1546473600,"{'sunrise': '09:40 AM', 'sunset': '05:19 PM', ...",4,0,0,0,1.9,2,"[{'time': '0', 'temperature': 5, 'wind_speed':..."
3,2019-01-04,1546560000,"{'sunrise': '09:40 AM', 'sunset': '05:21 PM', ...",3,0,0,0,5.8,2,"[{'time': '0', 'temperature': 5, 'wind_speed':..."
4,2019-01-06,1546732800,"{'sunrise': '09:39 AM', 'sunset': '05:23 PM', ...",6,0,0,0,2.0,2,"[{'time': '0', 'temperature': 6, 'wind_speed':..."
5,2019-01-07,1546819200,"{'sunrise': '09:39 AM', 'sunset': '05:25 PM', ...",7,0,0,0,2.0,2,"[{'time': '0', 'temperature': 8, 'wind_speed':..."
6,2019-01-08,1546905600,"{'sunrise': '09:38 AM', 'sunset': '05:26 PM', ...",5,0,0,0,5.8,2,"[{'time': '0', 'temperature': 6, 'wind_speed':..."
7,2019-01-09,1546992000,"{'sunrise': '09:38 AM', 'sunset': '05:27 PM', ...",3,0,0,0,2.0,2,"[{'time': '0', 'temperature': 5, 'wind_speed':..."
8,2019-01-10,1547078400,"{'sunrise': '09:37 AM', 'sunset': '05:29 PM', ...",7,0,0,0,3.9,1,"[{'time': '0', 'temperature': 8, 'wind_speed':..."
9,2019-01-11,1547164800,"{'sunrise': '09:36 AM', 'sunset': '05:30 PM', ...",4,0,0,0,5.8,1,"[{'time': '0', 'temperature': 6, 'wind_speed':..."
10,2019-01-12,1547251200,"{'sunrise': '09:35 AM', 'sunset': '05:32 PM', ...",2,0,0,0,2.0,1,"[{'time': '0', 'temperature': 9, 'wind_speed':..."
11,2019-01-13,1547337600,"{'sunrise': '09:35 AM', 'sunset': '05:34 PM', ...",8,0,0,0,2.0,1,"[{'time': '0', 'temperature': 9, 'wind_speed':..."
12,2019-01-14,1547424000,"{'sunrise': '09:34 AM', 'sunset': '05:35 PM', ...",3,0,0,0,5.8,2,"[{'time': '0', 'temperature': 6, 'wind_speed':..."
13,2019-01-15,1547510400,"{'sunrise': '09:33 AM', 'sunset': '05:37 PM', ...",5,0,0,0,2.0,1,"[{'time': '0', 'temperature': 8, 'wind_speed':..."
14,2019-01-16,1547596800,"{'sunrise': '09:32 AM', 'sunset': '05:38 PM', ...",4,0,0,0,3.9,2,"[{'time': '0', 'temperature': 9, 'wind_speed':..."
15,2019-01-17,1547683200,"{'sunrise': '09:31 AM', 'sunset': '05:40 PM', ...",1,0,0,0,5.8,2,"[{'time': '0', 'temperature': 4, 'wind_speed':..."
16,2019-01-18,1547769600,"{'sunrise': '09:30 AM', 'sunset': '05:42 PM', ...",4,0,0,0,3.9,2,"[{'time': '0', 'temperature': 4, 'wind_speed':..."
17,2019-01-19,1547856000,"{'sunrise': '09:29 AM', 'sunset': '05:44 PM', ...",6,0,0,0,2.0,1,"[{'time': '0', 'temperature': 7, 'wind_speed':..."
18,2019-01-20,1547942400,"{'sunrise': '09:28 AM', 'sunset': '05:45 PM', ...",4,0,0,0,2.0,1,"[{'time': '0', 'temperature': 6, 'wind_speed':..."
19,2019-01-21,1548028800,"{'sunrise': '09:26 AM', 'sunset': '05:47 PM', ...",2,0,0,0,2.1,2,"[{'time': '0', 'temperature': 3, 'wind_speed':..."
20,2019-01-22,1548115200,"{'sunrise': '09:25 AM', 'sunset': '05:49 PM', ...",3,0,0,0,3.9,2,"[{'time': '0', 'temperature': 3, 'wind_speed':..."
21,2019-01-24,1548288000,"{'sunrise': '09:22 AM', 'sunset': '05:53 PM', ...",4,0,0,0,2.1,2,"[{'time': '0', 'temperature': 4, 'wind_speed':..."
22,2019-01-26,1548460800,"{'sunrise': '09:20 AM', 'sunset': '05:56 PM', ...",7,0,0,0,2.1,1,"[{'time': '0', 'temperature': 10, 'wind_speed'..."
23,2019-01-28,1548633600,"{'sunrise': '09:17 AM', 'sunset': '06:00 PM', ...",2,0,0,0,3.3,2,"[{'time': '0', 'temperature': 3, 'wind_speed':..."
24,2019-01-29,1548720000,"{'sunrise': '09:15 AM', 'sunset': '06:02 PM', ...",2,0,0,0,8.7,1,"[{'time': '0', 'temperature': 3, 'wind_speed':..."
25,2019-01-30,1548806400,"{'sunrise': '09:13 AM', 'sunset': '06:04 PM', ...",1,0,0,0,8.7,1,"[{'time': '0', 'temperature': 1, 'wind_speed':..."
26,2019-01-31,1548892800,"{'sunrise': '09:12 AM', 'sunset': '06:06 PM', ...",0,0,0,0,3.4,2,"[{'time': '0', 'temperature': 0, 'wind_speed':..."

In [174]:
dates = daily.drop(['date_epoch', 'astro', 'mintemp', 'maxtemp', 'avgtemp', 
                    'totalsnow', 'sunhour', 'uv_index', 'hourly'], axis=1)
dates

          date
0   2019-01-01
1   2019-01-02
2   2019-01-03
3   2019-01-04
4   2019-01-06
5   2019-01-07
6   2019-01-08
7   2019-01-09
8   2019-01-10
9   2019-01-11
10  2019-01-12
11  2019-01-13
12  2019-01-14
13  2019-01-15
14  2019-01-16
15  2019-01-17
16  2019-01-18
17  2019-01-19
18  2019-01-20
19  2019-01-21
20  2019-01-22
21  2019-01-24
22  2019-01-26
23  2019-01-28
24  2019-01-29
25  2019-01-30
26  2019-01-31

In [175]:
hourly = pd.DataFrame([md for md in daily.hourly])
hourly

,0,1,2,3
0,"{'time': '0', 'temperature': 8, 'wind_speed': ...","{'time': '600', 'temperature': 7, 'wind_speed'...","{'time': '1200', 'temperature': 9, 'wind_speed...","{'time': '1800', 'temperature': 9, 'wind_speed..."
1,"{'time': '0', 'temperature': 6, 'wind_speed': ...","{'time': '600', 'temperature': 6, 'wind_speed'...","{'time': '1200', 'temperature': 8, 'wind_speed...","{'time': '1800', 'temperature': 6, 'wind_speed..."
2,"{'time': '0', 'temperature': 5, 'wind_speed': ...","{'time': '600', 'temperature': 4, 'wind_speed'...","{'time': '1200', 'temperature': 7, 'wind_speed...","{'time': '1800', 'temperature': 6, 'wind_speed..."
3,"{'time': '0', 'temperature': 5, 'wind_speed': ...","{'time': '600', 'temperature': 4, 'wind_speed'...","{'time': '1200', 'temperature': 6, 'wind_speed...","{'time': '1800', 'temperature': 4, 'wind_speed..."
4,"{'time': '0', 'temperature': 6, 'wind_speed': ...","{'time': '600', 'temperature': 7, 'wind_speed'...","{'time': '1200', 'temperature': 9, 'wind_speed...","{'time': '1800', 'temperature': 8, 'wind_speed..."
5,"{'time': '0', 'temperature': 8, 'wind_speed': ...","{'time': '600', 'temperature': 10, 'wind_speed...","{'time': '1200', 'temperature': 10, 'wind_spee...","{'time': '1800', 'temperature': 9, 'wind_speed..."
6,"{'time': '0', 'temperature': 6, 'wind_speed': ...","{'time': '600', 'temperature': 6, 'wind_speed'...","{'time': '1200', 'temperature': 7, 'wind_speed...","{'time': '1800', 'temperature': 6, 'wind_speed..."
7,"{'time': '0', 'temperature': 5, 'wind_speed': ...","{'time': '600', 'temperature': 5, 'wind_speed'...","{'time': '1200', 'temperature': 7, 'wind_speed...","{'time': '1800', 'temperature': 7, 'wind_speed..."
8,"{'time': '0', 'temperature': 8, 'wind_speed': ...","{'time': '600', 'temperature': 8, 'wind_speed'...","{'time': '1200', 'temperature': 9, 'wind_speed...","{'time': '1800', 'temperature': 7, 'wind_speed..."
9,"{'time': '0', 'temperature': 6, 'wind_speed': ...","{'time': '600', 'temperature': 7, 'wind_speed'...","{'time': '1200', 'temperature': 9, 'wind_speed...","{'time': '1800', 'temperature': 8, 'wind_speed..."
10,"{'time': '0', 'temperature': 9, 'wind_speed': ...","{'time': '600', 'temperature': 9, 'wind_speed'...","{'time': '1200', 'temperature': 9, 'wind_speed...","{'time': '1800', 'temperature': 6, 'wind_speed..."
11,"{'time': '0', 'temperature': 9, 'wind_speed': ...","{'time': '600', 'temperature': 9, 'wind_speed'...","{'time': '1200', 'temperature': 12, 'wind_spee...","{'time': '1800', 'temperature': 8, 'wind_speed..."
12,"{'time': '0', 'temperature': 6, 'wind_speed': ...","{'time': '600', 'temperature': 6, 'wind_speed'...","{'time': '1200', 'temperature': 8, 'wind_speed...","{'time': '1800', 'temperature': 7, 'wind_speed..."
13,"{'time': '0', 'temperature': 8, 'wind_speed': ...","{'time': '600', 'temperature': 8, 'wind_speed'...","{'time': '1200', 'temperature': 10, 'wind_spee...","{'time': '1800', 'temperature': 9, 'wind_speed..."
14,"{'time': '0', 'temperature': 9, 'wind_speed': ...","{'time': '600', 'temperature': 7, 'wind_speed'...","{'time': '1200', 'temperature': 7, 'wind_speed...","{'time': '1800', 'temperature': 6, 'wind_speed..."
15,"{'time': '0', 'temperature': 4, 'wind_speed': ...","{'time': '600', 'temperature': 3, 'wind_speed'...","{'time': '1200', 'temperature': 5, 'wind_speed...","{'time': '1800', 'temperature': 3, 'wind_speed..."
16,"{'time': '0', 'temperature': 4, 'wind_speed': ...","{'time': '600', 'temperature': 6, 'wind_speed'...","{'time': '1200', 'temperature': 9, 'wind_speed...","{'time': '1800', 'temperature': 7, 'wind_speed..."
17,"{'time': '0', 'temperature': 7, 'wind_speed': ...","{'time': '600', 'temperature': 6, 'wind_speed'...","{'time': '1200', 'temperature': 7, 'wind_speed...","{'time': '1800', 'temperature': 7, 'wind_speed..."
18,"{'time': '0', 'temperature': 6, 'wind_speed': ...","{'time': '600', 'temperature': 5, 'wind_speed'...","{'time': '1200', 'temperature': 7, 'wind_speed...","{'time': '1800', 'temperature': 4, 'wind_speed..."
19,"{'time': '0', 'temperature': 3, 'wind_speed': ...","{'time': '600', 'temperature': 2, 'wind_speed'...","{'time': '1200', 'temperature': 6, 'wind_speed...","{'time': '1800', 'temperature': 7, 'wind_speed..."
20,"{'time': '0', 'temperature': 3, 'wind_speed': ...","{'time': '600', 'temperature': 3, 'wind_speed'...","{'time': '1200', 'temperature': 5, 'wind_speed...","{'time': '1800', 'temperature': 3, 'wind_speed..."
21,"{'time': '0', 'temperature': 4, 'wind_speed': ...","{'time': '600', 'temperature': 5, 'wind_speed'...","{'time': '1200', 'temperature': 8, 'wind_speed...","{'time': '1800', 'temperature': 9, 'wind_speed..."
22,"{'time': '0', 'temperature': 10, 'wind_speed':...","{'time': '600', 'temperature': 9, 'wind_speed'...","{'time': '1200', 'temperature': 10, 'wind_spee...","{'time': '1800', 'temperature': 8, 'wind_speed..."
23,"{'time': '0', 'temperature': 3, 'wind_speed': ...","{'time': '600', 'temperature': 2, 'wind_speed'...","{'time': '1200', 'temperature': 5, 'wind_speed...","{'time': '1800', 'temperature': 4, 'wind_speed..."
24,"{'time': '0', 'temperature': 3, 'wind_speed': ...","{'time': '600', 'temperature': 4, 'wind_speed'...","{'time': '1200', 'temperature': 4, 'wind_speed...","{'time': '1800', 'temperature': 2, 'wind_speed..."
25,"{'time': '0', 'temperature': 1, 'wind_speed': ...","{'time': '600', 'temperature': 1, 'wind_speed'...","{'time': '1200', 'temperature': 4, 'wind_speed...","{'time': '1800', 'temperature': 2, 'wind_speed..."
26,"{'time': '0', 'temperature': 0, 'wind_speed': ...","{'time': '600', 'temperature': 3, 'wind_speed'...","{'time': '1200', 'temperature': 4, 'wind_speed...","{'time': '1800', 'temperature': 3, 'wind_speed..."

In [176]:
# hourly = hourly.drop([0, 1, 2, 3, 4, 5, 6, 18, 19, 20, 21, 22, 23], axis=1)

In [177]:
from datetime import datetime

In [178]:
hourlyweather = []
for index in hourly.index:
    for column in hourly.columns:
        new_df = hourly.loc[index, column]
        dt = datetime.strptime(dates.loc[index, 'date'], '%Y-%m-%d')
        date = dt.strftime('%m/%d/%Y')
        hour = int(int(new_df['time'])/100)
        new_df['MM/DD/YY'] = date
        new_df['datetime'] = '{} {}:00:00'.format(date, hour)
        new_df['hour'] = hour
        hourlyweather.append(new_df)

In [179]:
hourlyweather = pd.DataFrame(hourlyweather)
hourlyweather

,time,temperature,wind_speed,wind_degree,wind_dir,weather_code,weather_icons,weather_descriptions,precip,humidity,...,chanceofsunshine,chanceoffrost,chanceofhightemp,chanceoffog,chanceofsnow,chanceofthunder,uv_index,MM/DD/YY,datetime,hour
0,0,8,18,270,W,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0.0,88,...,0,0,0,0,0,0,1,01/01/2019,01/01/2019 0:00:00,0
1,600,7,17,283,WNW,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0.0,91,...,0,0,0,0,0,0,3,01/01/2019,01/01/2019 6:00:00,6
2,1200,9,11,313,NW,119,[https://assets.weatherstack.com/images/wsymbo...,[Cloudy],0.0,92,...,0,0,0,0,0,0,2,01/01/2019,01/01/2019 12:00:00,12
3,1800,9,10,46,NE,176,[https://assets.weatherstack.com/images/wsymbo...,[Patchy rain possible],0.1,84,...,0,0,0,0,0,0,1,01/01/2019,01/01/2019 18:00:00,18
4,0,6,8,84,E,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0.0,83,...,0,0,0,0,0,0,1,01/02/2019,01/02/2019 0:00:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,1800,2,13,277,W,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0.0,67,...,0,0,0,0,0,0,1,01/30/2019,01/30/2019 18:00:00,18
104,0,0,9,220,SW,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0.0,74,...,0,0,0,0,0,0,1,01/31/2019,01/31/2019 0:00:00,0
105,600,3,21,144,SE,122,[https://assets.weatherstack.com/images/wsymbo...,[Overcast],0.0,71,...,0,0,0,0,0,0,1,01/31/2019,01/31/2019 6:00:00,6
106,1200,4,36,120,ESE,317,[https://assets.weatherstack.com/images/wsymbo...,[Light sleet],0.8,73,...,0,0,0,0,0,0,1,01/31/2019,01/31/2019 12:00:00,12
107,1800,3,42,96,E,230,[https://assets.weatherstack.com/images/wsymbo...,[Blizzard],3.1,79,...,0,0,0,0,0,0,1,01/31/2019,01/31/2019 18:00:00,18

In [180]:
df_hourly = hourlyweather.drop(['chanceofremdry', 'chanceofwindy', 'chanceofovercast', 'chanceofsunshine',
                                'chanceoffrost', 'chanceofhightemp', 'chanceoffog', 'chanceofsnow', 'cloudcover', 
                                'chanceofthunder', 'uv_index', 'wind_degree', 'wind_dir', 'weather_icons',
                                'humidity', 'visibility', 'pressure', 'heatindex', 'dewpoint', 'windchill',
                                'windgust', 'feelslike', 'chanceofrain', 'weather_descriptions'], axis=1)

In [181]:
df_hourly

,time,temperature,wind_speed,weather_code,precip,MM/DD/YY,datetime,hour
0,0,8,18,116,0.0,01/01/2019,01/01/2019 0:00:00,0
1,600,7,17,116,0.0,01/01/2019,01/01/2019 6:00:00,6
2,1200,9,11,119,0.0,01/01/2019,01/01/2019 12:00:00,12
3,1800,9,10,176,0.1,01/01/2019,01/01/2019 18:00:00,18
4,0,6,8,116,0.0,01/02/2019,01/02/2019 0:00:00,0
...,...,...,...,...,...,...,...,...
103,1800,2,13,116,0.0,01/30/2019,01/30/2019 18:00:00,18
104,0,0,9,116,0.0,01/31/2019,01/31/2019 0:00:00,0
105,600,3,21,122,0.0,01/31/2019,01/31/2019 6:00:00,6
106,1200,4,36,317,0.8,01/31/2019,01/31/2019 12:00:00,12
107,1800,3,42,230,3.1,01/31/2019,01/31/2019 18:00:00,18

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [182]:
for index in df_hourly.index:
    if df_hourly.loc[index, 'hour'] == 0 or df_hourly.loc[index, 'hour'] == 18:
        df_hourly = df_hourly.drop([index])
    else:
        date = df_hourly.loc[index, 'datetime']
        df_hourly = df_hourly.rename(index={index: date})

In [183]:
df_hourly = df_hourly.drop(['time', 'datetime'], axis=1)

In [184]:
df_hourly

,temperature,wind_speed,weather_code,precip,MM/DD/YY,hour
01/01/2019 6:00:00,7,17,116,0.0,01/01/2019,6
01/01/2019 12:00:00,9,11,119,0.0,01/01/2019,12
01/02/2019 6:00:00,6,8,116,0.0,01/02/2019,6
01/02/2019 12:00:00,8,14,119,0.0,01/02/2019,12
01/03/2019 6:00:00,4,7,116,0.0,01/03/2019,6
01/03/2019 12:00:00,7,13,176,0.1,01/03/2019,12
01/04/2019 6:00:00,4,10,113,0.0,01/04/2019,6
01/04/2019 12:00:00,6,8,113,0.0,01/04/2019,12
01/06/2019 6:00:00,7,10,122,0.0,01/06/2019,6
01/06/2019 12:00:00,9,9,176,0.1,01/06/2019,12
01/07/2019 6:00:00,10,21,122,0.0,01/07/2019,6
01/07/2019 12:00:00,10,29,119,0.0,01/07/2019,12
01/08/2019 6:00:00,6,23,116,0.0,01/08/2019,6
01/08/2019 12:00:00,7,20,116,0.0,01/08/2019,12
01/09/2019 6:00:00,5,13,116,0.0,01/09/2019,6
01/09/2019 12:00:00,7,7,176,0.1,01/09/2019,12
01/10/2019 6:00:00,8,9,143,0.1,01/10/2019,6
01/10/2019 12:00:00,9,12,266,0.2,01/10/2019,12
01/11/2019 6:00:00,7,18,176,0.1,01/11/2019,6
01/11/2019 12:00:00,9,14,116,0.0,01/11/2019,12
01/12/2019 6:00:00,9,29,122,0.0,01/12/2019,6
01/12/2019 12:00:00,9,29,122,0.0,01/12/2019,12
01/13/2019 6:00:00,9,37,122,0.0,01/13/2019,6
01/13/2019 12:00:00,12,33,122,0.0,01/13/2019,12
01/14/2019 6:00:00,6,23,116,0.0,01/14/2019,6
01/14/2019 12:00:00,8,21,116,0.0,01/14/2019,12
01/15/2019 6:00:00,8,22,116,0.0,01/15/2019,6
01/15/2019 12:00:00,10,23,119,0.0,01/15/2019,12
01/16/2019 6:00:00,7,25,263,0.5,01/16/2019,6
01/16/2019 12:00:00,7,27,116,0.0,01/16/2019,12
01/17/2019 6:00:00,3,28,116,0.0,01/17/2019,6
01/17/2019 12:00:00,5,16,116,0.0,01/17/2019,12
01/18/2019 6:00:00,6,36,296,2.4,01/18/2019,6
01/18/2019 12:00:00,9,16,176,0.8,01/18/2019,12
01/19/2019 6:00:00,6,5,119,0.0,01/19/2019,6
01/19/2019 12:00:00,7,5,122,0.0,01/19/2019,12
01/20/2019 6:00:00,5,10,116,0.0,01/20/2019,6
01/20/2019 12:00:00,7,31,266,0.6,01/20/2019,12
01/21/2019 6:00:00,2,10,116,0.0,01/21/2019,6
01/21/2019 12:00:00,6,26,122,0.0,01/21/2019,12
01/22/2019 6:00:00,3,27,116,0.0,01/22/2019,6
01/22/2019 12:00:00,5,28,116,0.0,01/22/2019,12
01/24/2019 6:00:00,5,12,122,0.0,01/24/2019,6
01/24/2019 12:00:00,8,9,302,2.9,01/24/2019,12
01/26/2019 6:00:00,9,24,119,0.0,01/26/2019,6
01/26/2019 12:00:00,10,26,296,1.9,01/26/2019,12
01/28/2019 6:00:00,2,14,116,0.0,01/28/2019,6
01/28/2019 12:00:00,5,12,119,0.0,01/28/2019,12
01/29/2019 6:00:00,4,21,296,1.1,01/29/2019,6
01/29/2019 12:00:00,4,33,230,4.3,01/29/2019,12
01/30/2019 6:00:00,1,20,116,0.0,01/30/2019,6
01/30/2019 12:00:00,4,18,116,0.0,01/30/2019,12
01/31/2019 6:00:00,3,21,122,0.0,01/31/2019,6
01/31/2019 12:00:00,4,36,317,0.8,01/31/2019,12

In [185]:
from decimal import *

In [187]:
average = {}
temp = None
wind = None
rain = None
new_index = None
for index in df_hourly.index:
    if df_hourly.loc[index, 'hour'] == 6:
        new_index = df_hourly.loc[index, 'MM/DD/YY']
        average[new_index] = {}
        average[new_index]['weather_morning'] = df_hourly.loc[index, 'weather_code']

        temp = df_hourly.loc[index, 'temperature']
        wind = df_hourly.loc[index, 'wind_speed']
        rain = df_hourly.loc[index, 'precip']
    elif df_hourly.loc[index, 'hour'] == 12:
        average[new_index]['weather_afternoon'] = df_hourly.loc[index, 'weather_code']
        average[new_index]['temperature'] = (temp + df_hourly.loc[index, 'temperature']) / 2
        average[new_index]['wind_speed'] = (wind + df_hourly.loc[index, 'wind_speed']) / 2
        rain = (Decimal(rain) + Decimal(df_hourly.loc[index, 'precip'])) / 2
        average[new_index]['precip'] = format(rain, '.1f')

        temp = None
        wind = None
        rain = None
        new_index = None

In [188]:
average = pd.DataFrame(average)

In [189]:
average = pd.DataFrame.transpose(average)

In [190]:
average

           weather_morning weather_afternoon temperature wind_speed precip
01/01/2019             116               119           8         14    0.0
01/02/2019             116               119           7         11    0.0
01/03/2019             116               176         5.5         10    0.1
01/04/2019             113               113           5          9    0.0
01/06/2019             122               176           8        9.5    0.1
01/07/2019             122               119          10         25    0.0
01/08/2019             116               116         6.5       21.5    0.0
01/09/2019             116               176           6         10    0.1
01/10/2019             143               266         8.5       10.5    0.2
01/11/2019             176               116           8         16    0.1
01/12/2019             122               122           9         29    0.0
01/13/2019             122               122        10.5         35    0.0
01/14/2019             116               116           7         22    0.0
01/15/2019             116               119           9       22.5    0.0
01/16/2019             263               116           7         26    0.2
01/17/2019             116               116           4         22    0.0
01/18/2019             296               176         7.5         26    1.6
01/19/2019             119               122         6.5          5    0.0
01/20/2019             116               266           6       20.5    0.3
01/21/2019             116               122           4         18    0.0
01/22/2019             116               116           4       27.5    0.0
01/24/2019             122               302         6.5       10.5    1.4
01/26/2019             119               296         9.5         25    0.9
01/28/2019             116               119         3.5         13    0.0
01/29/2019             296               230           4         27    2.7
01/30/2019             116               116         2.5         19    0.0
01/31/2019             122               317         3.5       28.5    0.4

In [25]:
url = 'https://holidays.abstractapi.com/v1/'
params = {
    'api_key': '02a0112703a34f5abb1ab898b4f8125a',
    'country': 'IE',
    'year': '2017'
}

In [26]:
result = requests.get(url=url, params=params)
result_json = result.json()
df_holidays = pd.DataFrame(result_json)
df_holidays

,name,name_local,language,description,country,location,state,is_observed,type,date,date_year,date_month,date_day,week_day
0,New Year's Day,,,,IE,,,False,public_holiday,01/01/2017,2017,01,01,Sunday
1,St. Patrick's Day,,,,IE,,,False,public_holiday,03/17/2017,2017,03,17,Friday
2,Easter Monday,,,,IE,,,False,public_holiday,04/17/2017,2017,04,17,Monday
3,May Day,,,,IE,,,False,public_holiday,05/01/2017,2017,05,01,Monday
4,June Bank Holiday,,,,IE,,,False,public_holiday,06/05/2017,2017,06,05,Monday
5,August Bank Holiday,,,,IE,,,False,public_holiday,08/07/2017,2017,08,07,Monday
6,October Bank Holiday,,,,IE,,,False,public_holiday,10/30/2017,2017,10,30,Monday
7,Christmas Day,,,,IE,,,False,public_holiday,12/25/2017,2017,12,25,Monday
8,St. Stephen's Day,,,,IE,,,False,public_holiday,12/26/2017,2017,12,26,Tuesday

In [27]:
df_holidays = df_holidays.drop(['name', 'name_local', 'language', 'description', 'country', 
                                'location', 'state', 'is_observed', 'type', 'date_year', 'date_month',
                                'date_day', 'week_day'], axis=1)

In [28]:
df_holidays

         date
0  01/01/2017
1  03/17/2017
2  04/17/2017
3  05/01/2017
4  06/05/2017
5  08/07/2017
6  10/30/2017
7  12/25/2017
8  12/26/2017

In [29]:
for index in average.index:
    average.loc[index, 'holiday'] = 0
    for idx in df_holidays.index:
        holiday = df_holidays.loc[idx, 'date']
        if holiday == index:
            average.loc[index, 'holiday'] = 1
            continue

In [30]:
average

,weather_morning,weeknum,dayofweek,date,month,year,weather_afternoon,temperature,wind_speed,precip,holiday
01/01/2019,116,00,1,1,1,2019,119,8,14,0.0,0.0
01/02/2019,116,00,2,2,1,2019,119,7,11,0.0,0.0
01/03/2019,116,00,3,3,1,2019,176,5.5,10,0.1,0.0
01/04/2019,113,00,4,4,1,2019,113,5,9,0.0,0.0
01/05/2019,116,00,5,5,1,2019,116,6.5,14.5,0.0,0.0
01/06/2019,122,00,6,6,1,2019,176,8,9.5,0.1,0.0
01/07/2019,122,01,0,7,1,2019,119,10,25,0.0,0.0
01/08/2019,116,01,1,8,1,2019,116,6.5,21.5,0.0,0.0
01/10/2019,143,01,3,10,1,2019,266,8.5,10.5,0.2,0.0
01/11/2019,176,01,4,11,1,2019,116,8,16,0.1,0.0
01/12/2019,122,01,5,12,1,2019,122,9,29,0.0,0.0
01/13/2019,122,01,6,13,1,2019,122,10.5,35,0.0,0.0
01/14/2019,116,02,0,14,1,2019,116,7,22,0.0,0.0
01/16/2019,263,02,2,16,1,2019,116,7,26,0.2,0.0
01/18/2019,296,02,4,18,1,2019,176,7.5,26,1.6,0.0
01/19/2019,119,02,5,19,1,2019,122,6.5,5,0.0,0.0
01/20/2019,116,02,6,20,1,2019,266,6,20.5,0.3,0.0
01/21/2019,116,03,0,21,1,2019,122,4,18,0.0,0.0
01/22/2019,116,03,1,22,1,2019,116,4,27.5,0.0,0.0
01/23/2019,116,03,2,23,1,2019,116,3.5,16,0.0,0.0
01/24/2019,122,03,3,24,1,2019,302,6.5,10.5,1.4,0.0
01/25/2019,119,03,4,25,1,2019,353,10,25,0.1,0.0
01/26/2019,119,03,5,26,1,2019,296,9.5,25,0.9,0.0
01/27/2019,116,03,6,27,1,2019,116,4.5,43.5,0.0,0.0
01/28/2019,116,04,0,28,1,2019,119,3.5,13,0.0,0.0
01/29/2019,296,04,1,29,1,2019,230,4,27,2.7,0.0
01/30/2019,116,04,2,30,1,2019,116,2.5,19,0.0,0.0
01/31/2019,122,04,3,31,1,2019,317,3.5,28.5,0.4,0.0

In [31]:
df_hourly.to_json(r'data/historical_weather/{}_{}.json'.format(month, year))