In [21]:
# import boto3
import os
import sys
import requests
import json
import pandas as pd
from datetime import datetime, date, timedelta, timezone

api_key = '4fab58f885a6f341a28007b52346cffc'
url = 'https://api.openweathermap.org/data/2.5/onecall/timemachine'
yesterday = datetime.now() - timedelta(days=1)
timestamp = round(datetime.timestamp(yesterday))
params = {
    'lat': '53.349805',
    'lon': '-6.26031',
    'units': 'metric',
    'dt': timestamp,
    'appid': api_key
}



# s3_client = boto3.client('s3')

# def lambda_handler(event, context):
#     api_key = '4fab58f885a6f341a28007b52346cffc'
#     url = 'https://api.openweathermap.org/data/2.5/onecall/timemachine'
#     params = {
#         'lat': '53.349805',
#         'lon': '-6.26031',
#         'exclude': 'current,minutely,alerts',
#         'units': 'metric',
#         'appid': api_key
#     }

#     upload_path = '/tmp/resized-{}'.format(tmpkey)
    
#     for record in event['Records']:
#         bucket = record['s3']['bucket']['name']
#         key = unquote_plus(record['s3']['object']['key'])
#         tmpkey = key.replace('/', '')
#         download_path = '/tmp/{}{}'.format(uuid.uuid4(), tmpkey)
#         upload_path = '/tmp/resized-{}'.format(tmpkey)
#         s3_client.download_file(bucket, key, download_path)
#         resize_image(download_path, upload_path)
#         s3_client.upload_file(upload_path, '{}-resized'.format(bucket), key)

In [22]:
yesterday

datetime.datetime(2021, 2, 10, 16, 56, 43, 194447)

In [23]:
result = requests.get(url=url, params=params)
result_json = result.json()

# result_df = pd.json_normalize(result_json['hourly'])

In [24]:
# result_df

In [25]:
weather_data = pd.json_normalize(data=result_json['hourly'], record_path='weather',
                              meta=['dt', 'temp', 'feels_like', 'clouds'])
weather_data = weather_data.drop(['main', 'description', 'icon', 'temp', 'clouds'], 1)

In [26]:
weather_data['dt'] = weather_data['dt'].apply(lambda x: datetime.fromtimestamp(x))
date = weather_data['dt'][0].strftime("%m-%d-%Y")
weather_data['dt'] = weather_data['dt'].apply(lambda x: x.strftime("%m/%d/%Y %H:%M:%S"))
weather_data = weather_data.drop(weather_data.index[21:])
weather_data = weather_data.drop(weather_data.index[:6])
weather_data

     id                   dt feels_like
6   803  02/10/2021 06:00:00      -5.45
7   803  02/10/2021 07:00:00      -6.37
8   803  02/10/2021 08:00:00       -6.6
9   803  02/10/2021 09:00:00      -5.68
10  803  02/10/2021 10:00:00      -5.57
11  803  02/10/2021 11:00:00      -3.02
12  802  02/10/2021 12:00:00      -5.95
13  803  02/10/2021 13:00:00      -4.64
14  500  02/10/2021 14:00:00      -3.22
15  802  02/10/2021 15:00:00      -4.71
16  802  02/10/2021 16:00:00      -4.59
17  802  02/10/2021 17:00:00      -5.13
18  802  02/10/2021 18:00:00      -5.71
19  801  02/10/2021 19:00:00      -5.72
20  801  02/10/2021 20:00:00         -5

In [27]:
csv_data = weather_data.to_csv()

In [28]:
csv_data

',id,dt,feels_like\n6,803,02/10/2021 06:00:00,-5.45\n7,803,02/10/2021 07:00:00,-6.37\n8,803,02/10/2021 08:00:00,-6.6\n9,803,02/10/2021 09:00:00,-5.68\n10,803,02/10/2021 10:00:00,-5.57\n11,803,02/10/2021 11:00:00,-3.02\n12,802,02/10/2021 12:00:00,-5.95\n13,803,02/10/2021 13:00:00,-4.64\n14,500,02/10/2021 14:00:00,-3.22\n15,802,02/10/2021 15:00:00,-4.71\n16,802,02/10/2021 16:00:00,-4.59\n17,802,02/10/2021 17:00:00,-5.13\n18,802,02/10/2021 18:00:00,-5.71\n19,801,02/10/2021 19:00:00,-5.72\n20,801,02/10/2021 20:00:00,-5\n'

In [29]:
date

'02-10-2021'