In [109]:
import requests
import json
import pandas as pd
import datetime
import calendar

In [110]:
url = 'https://api.weatherstack.com/historical'
api_key = 'bf3a1f501a37d9472ae65ee5dc312290'
year = 2018
month = 7
startdate = str(datetime.date(year, month, 1).strftime("%Y-%m-%d"))
enddate = str(datetime.date(year, month, calendar.monthlen(year, month)).strftime("%Y-%m-%d"))
print(startdate)
print(enddate)
params = {
    'access_key': api_key,
    'query': 'Dublin',
    'historical_date_start': startdate,
    'historical_date_end': enddate,
    'hourly': 1,
    'interval': 6,
    'units': 'm'
}

2018-07-01
2018-07-31

In [111]:
result = requests.get(url=url, params=params)
result_json = result.json()
df = pd.DataFrame(result_json)

In [112]:
df

,request,location,current,historical
type,City,NaN,NaN,NaN
query,"Dublin, Ireland",NaN,NaN,NaN
language,en,NaN,NaN,NaN
unit,m,NaN,NaN,NaN
name,NaN,Dublin,NaN,NaN
country,NaN,Ireland,NaN,NaN
region,NaN,Dublin,NaN,NaN
lat,NaN,53.333,NaN,NaN
lon,NaN,-6.249,NaN,NaN
timezone_id,NaN,Europe/Dublin,NaN,NaN
localtime,NaN,2020-10-20 11:30,NaN,NaN
localtime_epoch,NaN,1603193400,NaN,NaN
utc_offset,NaN,1.0,NaN,NaN
observation_time,NaN,NaN,10:30 AM,NaN
temperature,NaN,NaN,14,NaN
weather_code,NaN,NaN,296,NaN
weather_icons,NaN,NaN,[https://assets.weatherstack.com/images/wsymbo...,NaN
weather_descriptions,NaN,NaN,[Light Drizzle],NaN
wind_speed,NaN,NaN,30,NaN
wind_degree,NaN,NaN,160,NaN
wind_dir,NaN,NaN,SSE,NaN
pressure,NaN,NaN,987,NaN
precip,NaN,NaN,0.2,NaN
humidity,NaN,NaN,82,NaN
cloudcover,NaN,NaN,75,NaN
feelslike,NaN,NaN,12,NaN
uv_index,NaN,NaN,1,NaN
visibility,NaN,NaN,10,NaN
is_day,NaN,NaN,no,NaN
2018-07-01,NaN,NaN,NaN,"{'date': '2018-07-01', 'date_epoch': 153040320..."
2018-07-02,NaN,NaN,NaN,"{'date': '2018-07-02', 'date_epoch': 153048960..."
2018-07-04,NaN,NaN,NaN,"{'date': '2018-07-04', 'date_epoch': 153066240..."
2018-07-05,NaN,NaN,NaN,"{'date': '2018-07-05', 'date_epoch': 153074880..."
2018-07-06,NaN,NaN,NaN,"{'date': '2018-07-06', 'date_epoch': 153083520..."
2018-07-07,NaN,NaN,NaN,"{'date': '2018-07-07', 'date_epoch': 153092160..."
2018-07-08,NaN,NaN,NaN,"{'date': '2018-07-08', 'date_epoch': 153100800..."
2018-07-09,NaN,NaN,NaN,"{'date': '2018-07-09', 'date_epoch': 153109440..."
2018-07-11,NaN,NaN,NaN,"{'date': '2018-07-11', 'date_epoch': 153126720..."
2018-07-12,NaN,NaN,NaN,"{'date': '2018-07-12', 'date_epoch': 153135360..."
2018-07-14,NaN,NaN,NaN,"{'date': '2018-07-14', 'date_epoch': 153152640..."
2018-07-15,NaN,NaN,NaN,"{'date': '2018-07-15', 'date_epoch': 153161280..."
2018-07-16,NaN,NaN,NaN,"{'date': '2018-07-16', 'date_epoch': 153169920..."
2018-07-17,NaN,NaN,NaN,"{'date': '2018-07-17', 'date_epoch': 153178560..."
2018-07-18,NaN,NaN,NaN,"{'date': '2018-07-18', 'date_epoch': 153187200..."
2018-07-19,NaN,NaN,NaN,"{'date': '2018-07-19', 'date_epoch': 153195840..."
2018-07-20,NaN,NaN,NaN,"{'date': '2018-07-20', 'date_epoch': 153204480..."
2018-07-21,NaN,NaN,NaN,"{'date': '2018-07-21', 'date_epoch': 153213120..."
2018-07-22,NaN,NaN,NaN,"{'date': '2018-07-22', 'date_epoch': 153221760..."
2018-07-23,NaN,NaN,NaN,"{'date': '2018-07-23', 'date_epoch': 153230400..."
2018-07-24,NaN,NaN,NaN,"{'date': '2018-07-24', 'date_epoch': 153239040..."
2018-07-25,NaN,NaN,NaN,"{'date': '2018-07-25', 'date_epoch': 153247680..."
2018-07-26,NaN,NaN,NaN,"{'date': '2018-07-26', 'date_epoch': 153256320..."
2018-07-27,NaN,NaN,NaN,"{'date': '2018-07-27', 'date_epoch': 153264960..."
2018-07-28,NaN,NaN,NaN,"{'date': '2018-07-28', 'date_epoch': 153273600..."
2018-07-29,NaN,NaN,NaN,"{'date': '2018-07-29', 'date_epoch': 153282240..."
2018-07-30,NaN,NaN,NaN,"{'date': '2018-07-30', 'date_epoch': 153290880..."

In [113]:
df = df.drop(['type', 'query', 'language', 'unit', 'name', 'country', 
             'region', 'lat', 'lon', 'timezone_id', 'localtime',
             'localtime_epoch', 'utc_offset', 'observation_time',
             'temperature', 'weather_code', 'weather_icons', 
             'weather_descriptions', 'wind_speed', 'wind_degree',
             'wind_dir', 'pressure', 'precip', 'humidity', 'cloudcover',
             'feelslike', 'uv_index', 'visibility', 'is_day'])

df = df.drop(['request', 'location', 'current'], axis=1)

In [114]:
df

                                                   historical
2018-07-01  {'date': '2018-07-01', 'date_epoch': 153040320...
2018-07-02  {'date': '2018-07-02', 'date_epoch': 153048960...
2018-07-04  {'date': '2018-07-04', 'date_epoch': 153066240...
2018-07-05  {'date': '2018-07-05', 'date_epoch': 153074880...
2018-07-06  {'date': '2018-07-06', 'date_epoch': 153083520...
2018-07-07  {'date': '2018-07-07', 'date_epoch': 153092160...
2018-07-08  {'date': '2018-07-08', 'date_epoch': 153100800...
2018-07-09  {'date': '2018-07-09', 'date_epoch': 153109440...
2018-07-11  {'date': '2018-07-11', 'date_epoch': 153126720...
2018-07-12  {'date': '2018-07-12', 'date_epoch': 153135360...
2018-07-14  {'date': '2018-07-14', 'date_epoch': 153152640...
2018-07-15  {'date': '2018-07-15', 'date_epoch': 153161280...
2018-07-16  {'date': '2018-07-16', 'date_epoch': 153169920...
2018-07-17  {'date': '2018-07-17', 'date_epoch': 153178560...
2018-07-18  {'date': '2018-07-18', 'date_epoch': 153187200...
2018-07-19  {'date': '2018-07-19', 'date_epoch': 153195840...
2018-07-20  {'date': '2018-07-20', 'date_epoch': 153204480...
2018-07-21  {'date': '2018-07-21', 'date_epoch': 153213120...
2018-07-22  {'date': '2018-07-22', 'date_epoch': 153221760...
2018-07-23  {'date': '2018-07-23', 'date_epoch': 153230400...
2018-07-24  {'date': '2018-07-24', 'date_epoch': 153239040...
2018-07-25  {'date': '2018-07-25', 'date_epoch': 153247680...
2018-07-26  {'date': '2018-07-26', 'date_epoch': 153256320...
2018-07-27  {'date': '2018-07-27', 'date_epoch': 153264960...
2018-07-28  {'date': '2018-07-28', 'date_epoch': 153273600...
2018-07-29  {'date': '2018-07-29', 'date_epoch': 153282240...
2018-07-30  {'date': '2018-07-30', 'date_epoch': 153290880...

In [115]:
daily = pd.DataFrame([md for md in df.historical])
daily

,date,date_epoch,astro,mintemp,maxtemp,avgtemp,totalsnow,sunhour,uv_index,hourly
0,2018-07-01,1530403200,"{'sunrise': '05:01 AM', 'sunset': '09:56 PM', ...",15,18,17,0,16.6,5,"[{'time': '0', 'temperature': 16, 'wind_speed'..."
1,2018-07-02,1530489600,"{'sunrise': '05:02 AM', 'sunset': '09:56 PM', ...",13,19,16,0,16.5,5,"[{'time': '0', 'temperature': 14, 'wind_speed'..."
2,2018-07-04,1530662400,"{'sunrise': '05:04 AM', 'sunset': '09:55 PM', ...",15,20,18,0,16.5,5,"[{'time': '0', 'temperature': 15, 'wind_speed'..."
3,2018-07-05,1530748800,"{'sunrise': '05:05 AM', 'sunset': '09:54 PM', ...",15,17,16,0,14.0,5,"[{'time': '0', 'temperature': 17, 'wind_speed'..."
4,2018-07-06,1530835200,"{'sunrise': '05:06 AM', 'sunset': '09:54 PM', ...",15,19,17,0,15.7,4,"[{'time': '0', 'temperature': 15, 'wind_speed'..."
5,2018-07-07,1530921600,"{'sunrise': '05:07 AM', 'sunset': '09:53 PM', ...",15,20,18,0,16.5,5,"[{'time': '0', 'temperature': 16, 'wind_speed'..."
6,2018-07-08,1531008000,"{'sunrise': '05:08 AM', 'sunset': '09:52 PM', ...",17,21,19,0,16.4,5,"[{'time': '0', 'temperature': 17, 'wind_speed'..."
7,2018-07-09,1531094400,"{'sunrise': '05:09 AM', 'sunset': '09:51 PM', ...",16,17,17,0,13.2,4,"[{'time': '0', 'temperature': 17, 'wind_speed'..."
8,2018-07-11,1531267200,"{'sunrise': '05:11 AM', 'sunset': '09:50 PM', ...",15,17,16,0,13.1,5,"[{'time': '0', 'temperature': 15, 'wind_speed'..."
9,2018-07-12,1531353600,"{'sunrise': '05:12 AM', 'sunset': '09:49 PM', ...",14,18,16,0,13.1,4,"[{'time': '0', 'temperature': 15, 'wind_speed'..."
10,2018-07-14,1531526400,"{'sunrise': '05:15 AM', 'sunset': '09:47 PM', ...",15,21,18,0,16.3,5,"[{'time': '0', 'temperature': 15, 'wind_speed'..."
11,2018-07-15,1531612800,"{'sunrise': '05:16 AM', 'sunset': '09:46 PM', ...",16,19,17,0,12.2,5,"[{'time': '0', 'temperature': 17, 'wind_speed'..."
12,2018-07-16,1531699200,"{'sunrise': '05:17 AM', 'sunset': '09:45 PM', ...",13,18,16,0,16.3,4,"[{'time': '0', 'temperature': 16, 'wind_speed'..."
13,2018-07-17,1531785600,"{'sunrise': '05:19 AM', 'sunset': '09:43 PM', ...",12,17,15,0,16.2,4,"[{'time': '0', 'temperature': 13, 'wind_speed'..."
14,2018-07-18,1531872000,"{'sunrise': '05:20 AM', 'sunset': '09:42 PM', ...",14,18,16,0,13.9,5,"[{'time': '0', 'temperature': 15, 'wind_speed'..."
15,2018-07-19,1531958400,"{'sunrise': '05:21 AM', 'sunset': '09:41 PM', ...",12,18,16,0,15.7,5,"[{'time': '0', 'temperature': 14, 'wind_speed'..."
16,2018-07-20,1532044800,"{'sunrise': '05:23 AM', 'sunset': '09:40 PM', ...",14,17,15,0,12.1,5,"[{'time': '0', 'temperature': 14, 'wind_speed'..."
17,2018-07-21,1532131200,"{'sunrise': '05:24 AM', 'sunset': '09:38 PM', ...",13,18,16,0,14.8,4,"[{'time': '0', 'temperature': 15, 'wind_speed'..."
18,2018-07-22,1532217600,"{'sunrise': '05:26 AM', 'sunset': '09:37 PM', ...",16,22,19,0,13.9,4,"[{'time': '0', 'temperature': 17, 'wind_speed'..."
19,2018-07-23,1532304000,"{'sunrise': '05:27 AM', 'sunset': '09:35 PM', ...",17,21,19,0,13.8,4,"[{'time': '0', 'temperature': 18, 'wind_speed'..."
20,2018-07-24,1532390400,"{'sunrise': '05:29 AM', 'sunset': '09:34 PM', ...",14,19,17,0,13.8,4,"[{'time': '0', 'temperature': 16, 'wind_speed'..."
21,2018-07-25,1532476800,"{'sunrise': '05:30 AM', 'sunset': '09:32 PM', ...",14,19,17,0,16.0,5,"[{'time': '0', 'temperature': 15, 'wind_speed'..."
22,2018-07-26,1532563200,"{'sunrise': '05:32 AM', 'sunset': '09:31 PM', ...",15,21,18,0,16.0,5,"[{'time': '0', 'temperature': 15, 'wind_speed'..."
23,2018-07-27,1532649600,"{'sunrise': '05:33 AM', 'sunset': '09:29 PM', ...",17,18,18,0,14.7,5,"[{'time': '0', 'temperature': 17, 'wind_speed'..."
24,2018-07-28,1532736000,"{'sunrise': '05:35 AM', 'sunset': '09:28 PM', ...",12,16,14,0,15.6,3,"[{'time': '0', 'temperature': 16, 'wind_speed'..."
25,2018-07-29,1532822400,"{'sunrise': '05:37 AM', 'sunset': '09:26 PM', ...",14,17,15,0,14.7,4,"[{'time': '0', 'temperature': 14, 'wind_speed'..."
26,2018-07-30,1532908800,"{'sunrise': '05:38 AM', 'sunset': '09:24 PM', ...",14,17,15,0,15.9,5,"[{'time': '0', 'temperature': 14, 'wind_speed'..."

In [116]:
dates = daily.drop(['date_epoch', 'astro', 'mintemp', 'maxtemp', 'avgtemp', 
                    'totalsnow', 'sunhour', 'uv_index', 'hourly'], axis=1)
dates

          date
0   2018-07-01
1   2018-07-02
2   2018-07-04
3   2018-07-05
4   2018-07-06
5   2018-07-07
6   2018-07-08
7   2018-07-09
8   2018-07-11
9   2018-07-12
10  2018-07-14
11  2018-07-15
12  2018-07-16
13  2018-07-17
14  2018-07-18
15  2018-07-19
16  2018-07-20
17  2018-07-21
18  2018-07-22
19  2018-07-23
20  2018-07-24
21  2018-07-25
22  2018-07-26
23  2018-07-27
24  2018-07-28
25  2018-07-29
26  2018-07-30

In [117]:
hourly = pd.DataFrame([md for md in daily.hourly])
hourly

,0,1,2,3
0,"{'time': '0', 'temperature': 16, 'wind_speed':...","{'time': '600', 'temperature': 16, 'wind_speed...","{'time': '1200', 'temperature': 18, 'wind_spee...","{'time': '1800', 'temperature': 18, 'wind_spee..."
1,"{'time': '0', 'temperature': 14, 'wind_speed':...","{'time': '600', 'temperature': 14, 'wind_speed...","{'time': '1200', 'temperature': 18, 'wind_spee...","{'time': '1800', 'temperature': 18, 'wind_spee..."
2,"{'time': '0', 'temperature': 15, 'wind_speed':...","{'time': '600', 'temperature': 16, 'wind_speed...","{'time': '1200', 'temperature': 19, 'wind_spee...","{'time': '1800', 'temperature': 20, 'wind_spee..."
3,"{'time': '0', 'temperature': 17, 'wind_speed':...","{'time': '600', 'temperature': 15, 'wind_speed...","{'time': '1200', 'temperature': 17, 'wind_spee...","{'time': '1800', 'temperature': 17, 'wind_spee..."
4,"{'time': '0', 'temperature': 15, 'wind_speed':...","{'time': '600', 'temperature': 15, 'wind_speed...","{'time': '1200', 'temperature': 18, 'wind_spee...","{'time': '1800', 'temperature': 19, 'wind_spee..."
5,"{'time': '0', 'temperature': 16, 'wind_speed':...","{'time': '600', 'temperature': 15, 'wind_speed...","{'time': '1200', 'temperature': 20, 'wind_spee...","{'time': '1800', 'temperature': 20, 'wind_spee..."
6,"{'time': '0', 'temperature': 17, 'wind_speed':...","{'time': '600', 'temperature': 17, 'wind_speed...","{'time': '1200', 'temperature': 20, 'wind_spee...","{'time': '1800', 'temperature': 21, 'wind_spee..."
7,"{'time': '0', 'temperature': 17, 'wind_speed':...","{'time': '600', 'temperature': 17, 'wind_speed...","{'time': '1200', 'temperature': 17, 'wind_spee...","{'time': '1800', 'temperature': 17, 'wind_spee..."
8,"{'time': '0', 'temperature': 15, 'wind_speed':...","{'time': '600', 'temperature': 16, 'wind_speed...","{'time': '1200', 'temperature': 17, 'wind_spee...","{'time': '1800', 'temperature': 17, 'wind_spee..."
9,"{'time': '0', 'temperature': 15, 'wind_speed':...","{'time': '600', 'temperature': 14, 'wind_speed...","{'time': '1200', 'temperature': 17, 'wind_spee...","{'time': '1800', 'temperature': 17, 'wind_spee..."
10,"{'time': '0', 'temperature': 15, 'wind_speed':...","{'time': '600', 'temperature': 16, 'wind_speed...","{'time': '1200', 'temperature': 20, 'wind_spee...","{'time': '1800', 'temperature': 20, 'wind_spee..."
11,"{'time': '0', 'temperature': 17, 'wind_speed':...","{'time': '600', 'temperature': 17, 'wind_speed...","{'time': '1200', 'temperature': 18, 'wind_spee...","{'time': '1800', 'temperature': 18, 'wind_spee..."
12,"{'time': '0', 'temperature': 16, 'wind_speed':...","{'time': '600', 'temperature': 13, 'wind_speed...","{'time': '1200', 'temperature': 18, 'wind_spee...","{'time': '1800', 'temperature': 16, 'wind_spee..."
13,"{'time': '0', 'temperature': 13, 'wind_speed':...","{'time': '600', 'temperature': 13, 'wind_speed...","{'time': '1200', 'temperature': 16, 'wind_spee...","{'time': '1800', 'temperature': 17, 'wind_spee..."
14,"{'time': '0', 'temperature': 15, 'wind_speed':...","{'time': '600', 'temperature': 14, 'wind_speed...","{'time': '1200', 'temperature': 18, 'wind_spee...","{'time': '1800', 'temperature': 18, 'wind_spee..."
15,"{'time': '0', 'temperature': 14, 'wind_speed':...","{'time': '600', 'temperature': 14, 'wind_speed...","{'time': '1200', 'temperature': 18, 'wind_spee...","{'time': '1800', 'temperature': 18, 'wind_spee..."
16,"{'time': '0', 'temperature': 14, 'wind_speed':...","{'time': '600', 'temperature': 14, 'wind_speed...","{'time': '1200', 'temperature': 15, 'wind_spee...","{'time': '1800', 'temperature': 17, 'wind_spee..."
17,"{'time': '0', 'temperature': 15, 'wind_speed':...","{'time': '600', 'temperature': 13, 'wind_speed...","{'time': '1200', 'temperature': 17, 'wind_spee...","{'time': '1800', 'temperature': 18, 'wind_spee..."
18,"{'time': '0', 'temperature': 17, 'wind_speed':...","{'time': '600', 'temperature': 17, 'wind_speed...","{'time': '1200', 'temperature': 19, 'wind_spee...","{'time': '1800', 'temperature': 22, 'wind_spee..."
19,"{'time': '0', 'temperature': 18, 'wind_speed':...","{'time': '600', 'temperature': 17, 'wind_speed...","{'time': '1200', 'temperature': 20, 'wind_spee...","{'time': '1800', 'temperature': 19, 'wind_spee..."
20,"{'time': '0', 'temperature': 16, 'wind_speed':...","{'time': '600', 'temperature': 14, 'wind_speed...","{'time': '1200', 'temperature': 18, 'wind_spee...","{'time': '1800', 'temperature': 19, 'wind_spee..."
21,"{'time': '0', 'temperature': 15, 'wind_speed':...","{'time': '600', 'temperature': 14, 'wind_speed...","{'time': '1200', 'temperature': 19, 'wind_spee...","{'time': '1800', 'temperature': 19, 'wind_spee..."
22,"{'time': '0', 'temperature': 15, 'wind_speed':...","{'time': '600', 'temperature': 16, 'wind_speed...","{'time': '1200', 'temperature': 20, 'wind_spee...","{'time': '1800', 'temperature': 20, 'wind_spee..."
23,"{'time': '0', 'temperature': 17, 'wind_speed':...","{'time': '600', 'temperature': 17, 'wind_speed...","{'time': '1200', 'temperature': 18, 'wind_spee...","{'time': '1800', 'temperature': 18, 'wind_spee..."
24,"{'time': '0', 'temperature': 16, 'wind_speed':...","{'time': '600', 'temperature': 13, 'wind_speed...","{'time': '1200', 'temperature': 13, 'wind_spee...","{'time': '1800', 'temperature': 15, 'wind_spee..."
25,"{'time': '0', 'temperature': 14, 'wind_speed':...","{'time': '600', 'temperature': 14, 'wind_speed...","{'time': '1200', 'temperature': 15, 'wind_spee...","{'time': '1800', 'temperature': 17, 'wind_spee..."
26,"{'time': '0', 'temperature': 14, 'wind_speed':...","{'time': '600', 'temperature': 14, 'wind_speed...","{'time': '1200', 'temperature': 17, 'wind_spee...","{'time': '1800', 'temperature': 16, 'wind_spee..."

In [118]:
# hourly = hourly.drop([0, 1, 2, 3, 4, 5, 6, 18, 19, 20, 21, 22, 23], axis=1)

In [119]:
from datetime import datetime

In [120]:
hourlyweather = []
for index in hourly.index:
    for column in hourly.columns:
        new_df = hourly.loc[index, column]
        dt = datetime.strptime(dates.loc[index, 'date'], '%Y-%m-%d')
        date = dt.strftime('%m/%d/%Y')
        hour = int(int(new_df['time'])/100)
        new_df['MM/DD/YY'] = date
        new_df['datetime'] = '{} {}:00:00'.format(date, hour)
        new_df['hour'] = hour
        hourlyweather.append(new_df)

In [121]:
hourlyweather = pd.DataFrame(hourlyweather)
hourlyweather

,time,temperature,wind_speed,wind_degree,wind_dir,weather_code,weather_icons,weather_descriptions,precip,humidity,...,chanceofsunshine,chanceoffrost,chanceofhightemp,chanceoffog,chanceofsnow,chanceofthunder,uv_index,MM/DD/YY,datetime,hour
0,0,16,3,47,NE,113,[https://assets.weatherstack.com/images/wsymbo...,[Clear],0,79,...,0,0,0,0,0,0,1,07/01/2018,07/01/2018 0:00:00,0
1,600,16,5,22,NNE,113,[https://assets.weatherstack.com/images/wsymbo...,[Sunny],0,83,...,0,0,0,0,0,0,5,07/01/2018,07/01/2018 6:00:00,6
2,1200,18,19,29,NNE,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0,71,...,0,0,0,0,0,0,5,07/01/2018,07/01/2018 12:00:00,12
3,1800,18,19,17,NNE,113,[https://assets.weatherstack.com/images/wsymbo...,[Clear],0,73,...,0,0,0,0,0,0,1,07/01/2018,07/01/2018 18:00:00,18
4,0,14,24,356,N,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0,89,...,0,0,0,0,0,0,1,07/02/2018,07/02/2018 0:00:00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,1800,17,17,223,SW,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0,73,...,0,0,0,0,0,0,1,07/29/2018,07/29/2018 18:00:00,18
104,0,14,20,218,SW,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0,80,...,0,0,0,0,0,0,1,07/30/2018,07/30/2018 0:00:00,0
105,600,14,18,219,SW,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0,84,...,0,0,0,0,0,0,4,07/30/2018,07/30/2018 6:00:00,6
106,1200,17,14,169,SSE,116,[https://assets.weatherstack.com/images/wsymbo...,[Partly cloudy],0,72,...,0,0,0,0,0,0,5,07/30/2018,07/30/2018 12:00:00,12
107,1800,16,15,206,SSW,113,[https://assets.weatherstack.com/images/wsymbo...,[Clear],0,76,...,0,0,0,0,0,0,1,07/30/2018,07/30/2018 18:00:00,18

In [122]:
df_hourly = hourlyweather.drop(['chanceofremdry', 'chanceofwindy', 'chanceofovercast', 'chanceofsunshine',
                                'chanceoffrost', 'chanceofhightemp', 'chanceoffog', 'chanceofsnow', 'cloudcover', 
                                'chanceofthunder', 'uv_index', 'wind_degree', 'wind_dir', 'weather_icons',
                                'humidity', 'visibility', 'pressure', 'heatindex', 'dewpoint', 'windchill',
                                'windgust', 'feelslike', 'chanceofrain', 'weather_descriptions'], axis=1)

In [123]:
df_hourly

,time,temperature,wind_speed,weather_code,precip,MM/DD/YY,datetime,hour
0,0,16,3,113,0,07/01/2018,07/01/2018 0:00:00,0
1,600,16,5,113,0,07/01/2018,07/01/2018 6:00:00,6
2,1200,18,19,116,0,07/01/2018,07/01/2018 12:00:00,12
3,1800,18,19,113,0,07/01/2018,07/01/2018 18:00:00,18
4,0,14,24,116,0,07/02/2018,07/02/2018 0:00:00,0
...,...,...,...,...,...,...,...,...
103,1800,17,17,116,0,07/29/2018,07/29/2018 18:00:00,18
104,0,14,20,116,0,07/30/2018,07/30/2018 0:00:00,0
105,600,14,18,116,0,07/30/2018,07/30/2018 6:00:00,6
106,1200,17,14,116,0,07/30/2018,07/30/2018 12:00:00,12
107,1800,16,15,113,0,07/30/2018,07/30/2018 18:00:00,18

In [124]:
for index in df_hourly.index:
    if df_hourly.loc[index, 'hour'] == 0 or df_hourly.loc[index, 'hour'] == 18:
        df_hourly = df_hourly.drop([index])
    else:
        date = df_hourly.loc[index, 'datetime']
        df_hourly = df_hourly.rename(index={index: date})

In [125]:
df_hourly = df_hourly.drop(['time', 'datetime'], axis=1)

In [126]:
df_hourly

,temperature,wind_speed,weather_code,precip,MM/DD/YY,hour
07/01/2018 6:00:00,16,5,113,0,07/01/2018,6
07/01/2018 12:00:00,18,19,116,0,07/01/2018,12
07/02/2018 6:00:00,14,22,116,0,07/02/2018,6
07/02/2018 12:00:00,18,19,113,0,07/02/2018,12
07/04/2018 6:00:00,16,9,113,0,07/04/2018,6
07/04/2018 12:00:00,19,13,113,0,07/04/2018,12
07/05/2018 6:00:00,15,12,113,0,07/05/2018,6
07/05/2018 12:00:00,17,10,119,0,07/05/2018,12
07/06/2018 6:00:00,15,7,116,0,07/06/2018,6
07/06/2018 12:00:00,18,3,116,0,07/06/2018,12
07/07/2018 6:00:00,15,12,113,0,07/07/2018,6
07/07/2018 12:00:00,20,6,116,0,07/07/2018,12
07/08/2018 6:00:00,17,10,116,0,07/08/2018,6
07/08/2018 12:00:00,20,4,116,0,07/08/2018,12
07/09/2018 6:00:00,17,8,119,0,07/09/2018,6
07/09/2018 12:00:00,17,14,119,0,07/09/2018,12
07/11/2018 6:00:00,16,12,116,0,07/11/2018,6
07/11/2018 12:00:00,17,9,119,0,07/11/2018,12
07/12/2018 6:00:00,14,12,119,0,07/12/2018,6
07/12/2018 12:00:00,17,13,119,0,07/12/2018,12
07/14/2018 6:00:00,16,13,116,0,07/14/2018,6
07/14/2018 12:00:00,20,15,116,0,07/14/2018,12
07/15/2018 6:00:00,17,15,122,0,07/15/2018,6
07/15/2018 12:00:00,18,16,119,0,07/15/2018,12
07/16/2018 6:00:00,13,9,113,0,07/16/2018,6
07/16/2018 12:00:00,18,4,116,0,07/16/2018,12
07/17/2018 6:00:00,13,11,116,0,07/17/2018,6
07/17/2018 12:00:00,16,10,122,0,07/17/2018,12
07/18/2018 6:00:00,14,8,122,0,07/18/2018,6
07/18/2018 12:00:00,18,6,116,0,07/18/2018,12
07/19/2018 6:00:00,14,8,113,0,07/19/2018,6
07/19/2018 12:00:00,18,2,116,0,07/19/2018,12
07/20/2018 6:00:00,14,12,119,0,07/20/2018,6
07/20/2018 12:00:00,15,17,122,0,07/20/2018,12
07/21/2018 6:00:00,13,14,122,0,07/21/2018,6
07/21/2018 12:00:00,17,8,119,0,07/21/2018,12
07/22/2018 6:00:00,17,13,122,0,07/22/2018,6
07/22/2018 12:00:00,19,9,122,0,07/22/2018,12
07/23/2018 6:00:00,17,5,143,0,07/23/2018,6
07/23/2018 12:00:00,20,14,116,0,07/23/2018,12
07/24/2018 6:00:00,14,12,113,0,07/24/2018,6
07/24/2018 12:00:00,18,9,122,0,07/24/2018,12
07/25/2018 6:00:00,14,11,113,0,07/25/2018,6
07/25/2018 12:00:00,19,12,113,0,07/25/2018,12
07/26/2018 6:00:00,16,16,113,0,07/26/2018,6
07/26/2018 12:00:00,20,22,113,0,07/26/2018,12
07/27/2018 6:00:00,17,16,119,0,07/27/2018,6
07/27/2018 12:00:00,18,18,116,0,07/27/2018,12
07/28/2018 6:00:00,13,32,119,0,07/28/2018,6
07/28/2018 12:00:00,13,24,122,0,07/28/2018,12
07/29/2018 6:00:00,14,16,122,0,07/29/2018,6
07/29/2018 12:00:00,15,14,119,0,07/29/2018,12
07/30/2018 6:00:00,14,18,116,0,07/30/2018,6
07/30/2018 12:00:00,17,14,116,0,07/30/2018,12

In [127]:
from decimal import *

In [128]:
average = {}
temp = None
wind = None
rain = None
new_index = None
for index in df_hourly.index:
    if df_hourly.loc[index, 'hour'] == 6:
        new_index = df_hourly.loc[index, 'MM/DD/YY']
        average[new_index] = {}
        average[new_index]['weather_morning'] = df_hourly.loc[index, 'weather_code']

        temp = df_hourly.loc[index, 'temperature']
        wind = df_hourly.loc[index, 'wind_speed']
        rain = df_hourly.loc[index, 'precip']
        
    elif df_hourly.loc[index, 'hour'] == 12:
        average[new_index]['weather_afternoon'] = df_hourly.loc[index, 'weather_code']
        average[new_index]['temperature'] = (temp + df_hourly.loc[index, 'temperature']) / 2
        average[new_index]['wind_speed'] = (wind + df_hourly.loc[index, 'wind_speed']) / 2
        rain = (Decimal(int(rain) + Decimal(int(df_hourly.loc[index, 'precip'])))) / 2
        average[new_index]['precip'] = format(rain, '.1f')

        temp = None
        wind = None
        rain = None
        new_index = None

In [129]:
average = pd.DataFrame(average)

In [130]:
average = pd.DataFrame.transpose(average)

In [131]:
average

           weather_morning weather_afternoon temperature wind_speed precip
07/01/2018             113               116          17         12    0.0
07/02/2018             116               113          16       20.5    0.0
07/04/2018             113               113        17.5         11    0.0
07/05/2018             113               119          16         11    0.0
07/06/2018             116               116        16.5          5    0.0
07/07/2018             113               116        17.5          9    0.0
07/08/2018             116               116        18.5          7    0.0
07/09/2018             119               119          17         11    0.0
07/11/2018             116               119        16.5       10.5    0.0
07/12/2018             119               119        15.5       12.5    0.0
07/14/2018             116               116          18         14    0.0
07/15/2018             122               119        17.5       15.5    0.0
07/16/2018             113               116        15.5        6.5    0.0
07/17/2018             116               122        14.5       10.5    0.0
07/18/2018             122               116          16          7    0.0
07/19/2018             113               116          16          5    0.0
07/20/2018             119               122        14.5       14.5    0.0
07/21/2018             122               119          15         11    0.0
07/22/2018             122               122          18         11    0.0
07/23/2018             143               116        18.5        9.5    0.0
07/24/2018             113               122          16       10.5    0.0
07/25/2018             113               113        16.5       11.5    0.0
07/26/2018             113               113          18         19    0.0
07/27/2018             119               116        17.5         17    0.0
07/28/2018             119               122          13         28    0.0
07/29/2018             122               119        14.5         15    0.0
07/30/2018             116               116        15.5         16    0.0

In [132]:
average.to_json(r'data/historical_weather/{}_{}.json'.format(month, year))